head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='country', content='Malaysia')
  meta(name='theme-color', content='#e5202d')
  meta(name='fragment', content='!')
  link(rel='stylesheet', href='styles/styles.min.css')
  if (pageSEO && pageSEO.seoTitle)
    title #{pageSEO.seoTitle}
    meta(name="twitter:title" content="#{pageSEO.seoTitle}")
    meta(property="og:title" content="#{pageSEO.seoTitle}")
    meta(property="og:site_name" content="#{pageSEO.seoTitle}")
  else if (mainSEO && mainSEO.mainSeoTitle)
    title #{mainSEO.mainSeoTitle}
    meta(name="twitter:title" content="#{mainSEO.mainSeoTitle}")
    meta(property="og:title" content="#{mainSEO.mainSeoTitle}")
    meta(property="og:site_name" content="#{mainSEO.mainSeoTitle}")

  if (pageSEO && pageSEO.seoDescription)
    meta(name='description', content='#{pageSEO.seoDescription}')  
    meta(name="twitter:description" content="#{pageSEO.seoDescription}")
    meta(property="og:desc" content="#{pageSEO.seoDescription}")
  else if (mainSEO && mainSEO.mainSeoDescription)
    meta(name='description', content='#{mainSEO.mainSeoDescription}')  
    meta(name="twitter:description" content="#{mainSEO.mainSeoDescription}")
    meta(property="og:desc" content="#{mainSEO.mainSeoDescription}")
  if (pageSEO && pageSEO.url)
    link(rel='canonical', href='//www.skootjobs.com/#{pageSEO.url}')
    link(rel='alternate', href='//www.skootjobs.com/#{pageSEO.url}', hreflang='en-my')  
    meta(name="twitter:url" content="//www.skootjobs.com/#{pageSEO.url}")
    meta(property="og:url" content="//www.skootjobs.com/#{pageSEO.url}")
    link(rel="canonical" href="//www.skootjobs.com/#{pageSEO.url}") 
  else if (mainSEO && mainSEO.mainSeoUrl)
    link(rel='canonical', href='#{mainSEO.mainSeoUrl}')
    link(rel='alternate', href='#{mainSEO.mainSeoUrl}', hreflang='en-my')  
    meta(name="twitter:url" content="#{mainSEO.mainSeoUrl}")
    meta(property="og:url" content="#{mainSEO.mainSeoUrl}")
    link(rel="canonical" href="#{mainSEO.mainSeoUrl}") 
  if (pageSEO && pageSEO.seoImage)
    meta(name="twitter:image" content="#{pageSEO.seoImage}")
    meta(property="og:image" content="#{pageSEO.seoImage}")
  else if (mainSEO && mainSEO.mainSeoImage)
    meta(name="twitter:image" content="#{mainSEO.mainSeoImage}")
    meta(property="og:image" content="#{mainSEO.mainSeoImage}" )  

  meta(property="og:type" content="website")
  script(type='application/ld+json').
    {
    "@context": "http://schema.org/",
    "@type": "WebSite",
    "name": "SkootJobs",
    "alternateName": "SkootJobs Malaysia",
    "url": "https://www.skootjobs.com",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.skootjobs.com/jobs/{search_term_string}",
    "query-input": "required name=search_term_string"
    }
    }
