html
	include ./includes/head.pug
	body.home
	include ./includes/nav.pug
	div.job-search
		.search-filters
			div.container
				div.row
					.col-lg-8
						div.col-xs-5.cp
							input.filter-input(type="text",placeholder="Keyword or Job Title")
						div.col-xs-5.cp
							input.filter-input(type="text",placeholder="Location")
						div.col-xs-2.cp
							button.all-filters Search							
		.jobs-container
			.row
				.col-lg-8
					include ./includes/pagination.pug
			.jobs-list-container.col-lg-8
				each job in jobs
					.job-item(class=job.packageName=="Basic" ? "" : "featuredjob")
						.job-logo-container
							.job-logo
								img(src=job.businessId.profileImg)
						.job-content
							a.job-title(href="/job")
								h3=job.title
							.job-buttons
								button.btn-view-job View Details
								button Apply Now
							div.clearfix
							a.bizname(href="/culture") 
								i.fa.fa-building-o
								| #{job.businessId.name}
							.about-biz
								p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
							.job-details
								.location
									i.fa.fa-map-marker
									| #{job.informalAddress}
								.time
									| 12 hours ago
								.salary
									| RM 2,000 - 4,000 /month
						.clearfix
				.job-item.featured
					.highlight
						i.fa.fa-star
					.job-logo-container
						.job-logo
							img(src="images/companies/logo-placeholder.jpg")
					.job-content
						a.job-title(href="")
							h3 Business Administration Executive
						.job-buttons
							button.btn-view-job View Details
							button Apply Now
						div.clearfix
						a.bizname(href="") 
							i.fa.fa-building-o
							| OAS MEDIA
						.about-biz
							p OAS provides professional advertising consultancy services to cater to client business needs, among the professional advertising consultancy services that we are providing : Business License ...
						.job-details
							.location
								i.fa.fa-map-marker
								| Persiaran Pegaga, Selangor, Malaysia
							.time
								| 12 hours ago
							.salary
								asd
								| RM 2,000 - 4,000 /month
					.clearfix
			.col-lg-4
				iframe(src="/job")
			.clearfix
	.clearfix
	include ./includes/footer.pug
